{{> header}}
<table width="100%" cellpadding="0" cellspacing="0" style="padding:20px;">
  <tr>
    <td>
      <h2>Leave Rejected</h2>
      <p>Dear {{recipientName}},</p>
      <p>Your leave request from {{startDate}} to {{endDate}} was rejected.</p>
      <p>Reason: {{reason}}</p>
    </td>
  </tr>
</table>
{{> footer}}
