{{> header}}
<table width="100%" cellpadding="0" cellspacing="0" style="padding:20px;">
  <tr>
    <td>
      <h2>Task Assigned</h2>
      <p>Hello {{recipientName}},</p>
      <p>You have been assigned a new task: <strong>{{taskTitle}}</strong>.</p>
      <p>Due Date: {{dueDate}}</p>
      <p>Description: {{description}}</p>
    </td>
  </tr>
</table>
{{> footer}}
